@import 'https://fonts.googleapis.com/css?family=Bree+Serif';
@import 'https://fonts.googleapis.com/css?family=Poppins';
body{
  background-color: black;
}
h1{
  color: indigo;
  text-align: center;
  font-family: 'Bree Serif', serif;
}
p{
  color: crimson;
  text-align: center;
  font-family: 'Poppins', sans-serif;
}
